header {
  padding: 28px 0;
}
header img {
  width: 180px;
  height: 40px;
}
header nav {
  font-size: 18px;
  font-family: Inter;
}
header svg {
  color: #5937e0;
  width: 40px;
  height: 40px;
}
header li a{
    transition: all 0.2s 0.2s !important;
}
header li a:hover{
   color: #5937E0 !important; 
}
/*start hero section*/
.hero {
  font-family: Work sans;
}
.detailes .type {
  font-size: 40px;
  font-weight: bold;
}
.detailes .price {
  font-size: 40px;
  color: #5937e0;
}
.detailes span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.detailes .car {
  width: -webkit-fill-available;
}

.title {
  font-size: 24px;
  font-weight: 700;
}
.card {
  background-color: #fafafa;
  border: none;
  outline: none;
}
.card img {
  width: 24px;
  height: 24px;
}
.card p {
  font-size: 16px;
  font-weight: 700;
}
.card span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.CarEquipment button {
  padding: 15.5px 106px;
  background-color: #5937e0;
}
.more-detailes .Car {
  font-size: 24px;
  font-weight: 700;
  padding: 40px 0;
}
.more-detailes img {
  width: 24px;
  height: 24px;
}
.frame p{
    font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
/*end hero section*/
/*start cars section*/
.cars .cards{
    background-color: #f7f7f7;
    padding: 24px; 
    flex-grow: 1;
}
.cars .imge img{
    width: -webkit-fill-available;
    height: 260px;
}
.cars button {
    background-color: #5937E0;
}
.cars .text{
text-decoration: none;
}
.cars .cards a{
  background-color:#5937E0;
  color: #ffffff;
 transition: all 0.2s 0.2s !important;
}

.cards a:hover{
  background-color:  #09002e !important; 
}
/*end cars section*/
/*start footer sectioin*/
.col .icon{
    background-color: #ffb100;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 5px ;
}
.footer span{
    font-size: 15px;
    font-family: Work sans;
}
.footer address{
    font-size: 16px;
    font-family: Work sans;
    font-weight:bold ;
}
.footer p{
    font-size: 16px;
    font-family: Work sans;
    font-weight:bold ;
}
.footer ul{
    padding: 0;
    margin: 0;
}
.footer h2{
    font-family: Work sans;
    font-size: 20px;
    font-weight: bold;
}
.footer li{
    font-family: Work sans;
    font-size: 16px;
}
.footer a{
    text-decoration: none;
    color: #5937E0;
    transition: all 0.3s !important;
}
.footer a:hover{
    color: #09002e !important;
}
/*end footer sectioin*/