/*start header section */
header {
  padding: 28px 0;
}
header img {
  width: 180px;
  height: 40px;
}
header nav {
  font-size: 18px;
  font-family: Inter;
}
header svg {
  color: #5937e0;
  width: 40px;
  height: 40px;
}
/*end header section */
/*start About section */
.text-q {
  font-family: Work sans;
  font-size: 50px;
  font-weight: bold;
}
.about-section span {
  font-family: Work sans;
  font-size: 28px;
  font-weight: 700;
}
.about-section .col p {
  font-family: Inter;
  font-size: 16px;
}
/*strat stats-section*/
.stats-section .num {
  font-size: 80px;
  font-weight: bold;
  color: #5937e0;
  font-family: Work Sans;
}
.stats-section .text {
  font-size: 20px;
  font-weight: bold;
  font-family: Work Sans;
}
/*strat info-section*/
.info h2 {
  font-size: 50px;
  font-weight: bold;
  font-family: Work Sans;
}
.info span {
  font-size: 16px;

  color: rgba(0, 0, 0, 0.6);
  font-family: Work Sans;
}
.text img {
  width: 24px;
  height: 24px;
}
.info p {
  font-size: 16px;

  color: rgba(0, 0, 0, 0.6);
  font-family: Work Sans;
}
.info .imge img {
  width: -webkit-fill-available;
}
/* App section */
.app-section .rounded-4 {
  background-color: #5937e0;
  color: white;
}
.app-section .position-absolute {
  top: -100px;
  height: 500px;
  left: 50px;
}
.app-section h2 {
  font-size: 50px;
  font-family: Work sans;
  font-weight: bold;
}
.app-section p {
  font-size: 16px;
  font-family: Work Sans;
}
.app-section .text-start img {
  transition: 0.3s;
}
.app-section .text-start img:hover {
  transform: scale(1.05);
}
/* Reviews Section */

.review-card {
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: none;
  border: none;
}

.quote-icon {
  font-size: 80px;
  color: #5937e0;
  margin-bottom: 10px;
}

.review-footer {
  background: #5937e0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.review-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
}
.quastion h2 {
  font-size: 50px;
  font-family: Work sans;
}
.quastion button {
  font-size: 24px;
  font-family: Work sans;
  font-weight: 500;
}
/*start hero section */
.hero .textandform {
  background-color: #5937e0;
  padding: 78px;
}
.imgee {
  right:  50px;
  top: 50px;
}
.hero img {
  width: 700px;
  z-index: -1;
}

.hero .text h1 {
  font-size: 60px;
  font-family: Wark sans;
}

.hero .text p {
  font-size: 16px;
  font-family: Wark sans;
}


.hero h2 {
  font-size: 50px;
  font-weight: bold;
}
.hero span {
  font-size: 40px;
  font-weight: 500;
}
.hero a {
  font-size: 16px;
  font-family: Inter;
  width: 100px;
}
