/*start header section */
header{
    padding: 28px 0;
}
header img{
    width: 180px;
    height: 40px;
}
header nav{
    font-size: 18px;
    font-family: Inter;
}
/*end header section */
/*start hero section */
.hero .textandform{
    background-color: #5937E0;
    padding: 78px;
   
}
.imge{
    left: calc((100% - 700px)/2) ;
}
.hero img{
width: 700px;
z-index: -1;
}

.hero .text h1{
    font-size: 60px;
    font-family: Wark sans;

}
.hero .text p{
    font-size: 16px;
    font-family: Wark sans;
}
.hero .text a{
    font-size: 16px;
    font-family: Inter;
    padding: 10px 28px;
        width: fit-content;
}


.hero .hero-form input  {
    background-color: #FAFAFA;
}
.hero-form h2{
    text-align: center;
    font-size: 28px;
   padding: 30px;
}
.hero .hero-form select  {
    background-color: #FAFAFA;
}
.hero .hero-form{
    font-family: Work sans;

}
.hero button{
    font-family: Inter ;
}
/*end hero section */
/* start info section*/
.info{
    padding: 60px 0 ;
}

.info .cards img{
    width: 64px;
    height: 64px;
   
}
.info .cards h2{
    font-size: 24px ;
    font-family: Work sans ;
    font-weight: bold;
}
.info .cards p {
    text-align: center;
    font-size: 16px ;
    font-family: Inter ;
}
/* end info section */
/* start info 2 section*/
.info2 img{
      width: 636px;
    height: 344px;
}
.info2 span {
    font-size: 16px;
    font-family: Work sans;
    color: #FFFFFF;
   
    
}
.info2 div{
  
}
.span{
     width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    background-color: #5937E0;
    
}
.info2 h2{
    font-size: 20px;
    font-family: Wark sans;
    margin-left: 10px;
}
.info2 p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.603);
}
/* end info 2 section*/
/*start cars section*/
.cars .cards{
    background-color: #f7f7f7;
    padding: 24px; 
    flex-grow: 1;
}
.cars .imge img{
    width: -webkit-fill-available;
    height: 260px;
}
.cars button {
    background-color: #5937E0;
}
/*end cars section*/
/*start beanner section*/
.Banner .contact{
    background-color: #5937E0;
}
.Banner .contact h2{
 size: 50px;
 font-family: Work sans;
 text-align: center;
}
.Banner .contact p{
 size: 16px;
 font-family: Work sans;
 text-align: center;
}
.fact-number{
    font-size: 24px;
    font-weight: bold;
    font-family: Work sans;
    color: black;
}
.fact-text{
    font-size: 16px;
  
    font-family: Work sans;
    color: rgba(0, 0, 0, 0.600);
}
.Banner .fact-icon{
    background-color: #FF9E0C;
}
.Banner svg{
    
    margin-top: 10px;
}
/*end beanner section*/
/*start app section */
.mobile-app h2 {
    font-size: 50px;
    font-family: Work sans;
    font-weight: bold;
}
.mobile-app p {
    font-size: 16px;
    font-family: Work sans;
    color: rgba(0, 0, 0, 0.60);
}
/*end app section */